#div2 {
    margin: 50px 50px ;
}
#div3{
    font-size: 20px;
}
#blue{

    color: blue;

}
a{
    color: darkorange;

}
#links{
    background-color: yellow;
}
.red{

    color: red;
}
#div1{
color: blue
}