
section{
  
     padding: 10px  180px 180px 180px ;
     margin-top:-20px ;  
     margin-bottom: -20px;  
     margin-left: -150px;
     margin-right: 10px;                                      
   border-right: solid 3px;
    background-color: rgb(254, 254, 231);
    width: 70%;
    overflow: hidden;

   }                

.div1{
    float: left; 
    background-color: rgb(223, 218, 218);
margin: 10px ;
padding:10x 5px;
    width: 20%; 

    overflow: hidden;

    height: 80px;
}
.div2{
 
    float: left; 
    height: 50px;
    overflow-y: scroll;
font-weight: bold;
padding: 10px;
border-style: solid;
border-left: 3px;
border-right: 3px;
}
